<template>
    <Head />

    <div class="pa-12">

        <v-row class="justify-center">
            <v-col cols="4" v-for="(items, i) in Sorteos" :key=i>
               
                <v-card class="mx-auto" max-width="400">
                    <v-img class="align-end text-white" height="200" :src=items.imagen
                        cover>
                        <!-- <v-card-title> {{ items.nombre }}</v-card-title> -->
                    </v-img>

                    <v-card-subtitle class="pt-4">
                       
                    </v-card-subtitle>

                    <v-card-text>
                        <div class="text-h5"><strong> {{ items.nombre }}</strong></div>

                        <div>Entre mas boletas mas posibilidades de ganar</div>

                        <div>Boletas : Quedan 5</div>

                    </v-card-text>

                    <v-card-actions>

                        <v-btn color="orange">
                            Comprar
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-col>
        </v-row>
    <Footer />

    </div>
</template>
<script setup>
// Components
import Footer from "@/components/principal/Footer.vue";
import Head from "@/components/principal/Head.vue";


const Sorteos = [
    {
        "nombre": "Sorteo Moto",
        "imagen":"https://a5i4f6g5.stackpathcdn.com/images/cms/Head-Banner--630x630_CBR500R-06ae7.jpg"
    },
    {
        "nombre": "Sorteo Bono 500mil",
        "imagen":"https://www.miscanastas.com/anchetas/canastas-para-anchetas-medellin.jpg"

    },
]
</script>

