<template>
    <v-footer 
      class="bg-indigo-lighten-1 text-center d-flex flex-column " style="position: fixed; bottom: 0; width: 100%;"
    >
      <v-divider></v-divider>
  
      <div>
        {{ new Date().getFullYear() }} — <strong>Appestrategico</strong>
      </div>
    </v-footer>
  </template>